<app-header></app-header>

<app-header></app-header>
<div class="task-columns">

  <app-colum [name]="group.label" [data]="group.list"
  *ngFor="let group of groups">
  </app-colum>
    
    <!-- <app-column
    [name]="group.label" 
    [data]="group.list" 
    [id]="group._id" 
    *ngFor="let group of (groups$ | async)?.data">
    </app-column> -->
    
</div>






<!-- <button (click)="changeText()">Cambiar</button>
<div *ngIf="showText">
  Hola Mundo
</div> -->
<!-- 
<div class="padre" [ngSwitch]="case">

  <div *ngSwitchCase="1">Hola soy Andrey</div>

  <div *ngSwitchCase="2">Hola soy Bridget</div>

  <div *ngSwitchCase="3">Hola soy Andrey y Bridget</div>

  <div *ngSwitchDefault="">Opcion por Defecto</div>

</div>

<app-column [data]="listUser"></app-column> -->
